li.nav-item {
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    letter-spacing: 0.15px !important;
    margin-top: 5px;
    margin-left: 6px;
}

ul.nav.nav-treeview {
    width: 90px !important;
}

.sidebar-mini .main-sidebar .nav-child-indent.nav-legacy.nav-compact .nav-treeview .nav-link,
.sidebar-mini-md .main-sidebar .nav-child-indent.nav-legacy.nav-compact .nav-treeview .nav-link,
.sidebar-mini-xs .main-sidebar .nav-child-indent.nav-legacy.nav-compact .nav-treeview .nav-link {
    /* width: 220px; */

    text-align: left;
    padding: 8px;
    /* padding-right: 60px !important; */

}

.sidebar-mini .main-sidebar .nav-child-indent.nav-legacy.nav-compact .nav-link,
.sidebar-mini-md .main-sidebar .nav-child-indent.nav-legacy.nav-compact .nav-link,
.sidebar-mini-xs .main-sidebar .nav-child-indent.nav-legacy.nav-compact .nav-link {
   padding: 10px;
   width: 238px;
   padding-right: 70px !important;

}

li.nav-link:hover {
    border-radius: 10px;
    background-image: linear-gradient(98deg, #064e89a6, #064E89 94%);
    border: none;
    /* margin-right: 30px; */
    width: 214px !important;
}

[class*=sidebar-dark] .nav-legacy .nav-treeview>.nav-item>.nav-link.active,
[class*=sidebar-dark] .nav-legacy .nav-treeview>.nav-item>.nav-link:focus {
    background-color: var(--sidebar_active_bg);
    color: #fff;
    border-top-right-radius: 10px; /* Adjust the radius as needed */
    border-bottom-right-radius: 10px; /* Adjust the radius as needed */
    border-radius: 10px;
  
    
}

[class*=sidebar-dark] .nav-legacy .nav-treeview>.nav-item>.nav-link.active {
   font-weight: 650;
   
}

[class*=sidebar-dark] .nav-legacy .nav-treeview>.nav-item>.nav-link:hover {
   background-color: #94949435;
   color: #fff;
   
   border-top-right-radius: 10px; /* Adjust the radius as needed */
   border-bottom-right-radius: 10px; /* Adjust the radius as needed */
   border-radius: 10px;
  
  
   
}




.layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
    background-color: var(--sidebar_header_bg);
}

ul.nav.nav-pills.nav-sidebar.flex-column.nav-child-indent.nav-legacy.nav-compact {
    margin-top: 25px;
    margin-bottom: 60px;
}

.layout-navbar-fixed .main-sidebar {
    background: var(--sidebar_bg_color);
}

[class*=sidebar-dark-] .sidebar a {
    color: #565656 !important;
    font-size: 14px !important;

}

[class*=sidebar-dark] .nav-legacy.nav-sidebar>.nav-item>.nav-link.active {
    color: #fff !important;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link,
[class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background: var(--nav_item_hover);
    color: #fff;
    border-radius: 10px;
}

.navbar-nav>.user-menu>.dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
    margin-right: 30px;

    /* width: 204px; */
}

.dropdown-menu.dropdown-menu-md.dropdown-menu-right.show {
    margin-top: 14px;

}

a.dropdown-item {
    /* padding-top: 10px;
   padding-bottom: 10px; */
}

span.brand-text.font-weight-light {
    color: #565656;
}

.os-content-glue {
    margin-top: 20px !important;
}

span.brand-text.font-weight-light {
    color: #565656;
    font-weight: 550 !important;
    font-size: 20px;
}




[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #e7e7e7;
}

[class*=sidebar-dark-] .nav-header {
    background-color: inherit;
    color: #919499;
}

[class*=sidebar-dark-] .nav-header {
    font-size: 0.9rem;
    background-color: inherit;
    color: #919499;
}



.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0 / 75%);
}

nav.main-header.navbar.navbar-expand.navbar-dark {
    background: var(--navbar_bg);
}

.navbar-dark {
    background-color: #343a40;
    border-color: #d1d1d159;
}

.card {
    background-color: #FFF;
    color: rgba(58, 53, 65, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 6px;
    box-shadow: 0px 2px 1px -1px rgba(58, 53, 65, 0.2), 0px 1px 1px 0px rgba(58, 53, 65, 0.14), 0px 1px 3px 0px rgba(58, 53, 65, 0.12);
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);

}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #064E89;
    border-color: #064E89 !important;
}

.custom_btn_dropdown {
    background-color: #f2eaff;
    border-color: #ddd;
    color: #064E89
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #064E89
}


.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #064E89;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.btn.btn-primary {
    border: none;
    background: var(--btn_primary);
    font-weight: 500;
    border-radius: 5px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    box-shadow: rgba(58, 53, 65, 0.42) 0px 4px 8px -4px;
}

.btn.btn-secondary {
    border: none;
    background: var(--btn_secondary);
    font-weight: 500;
    border-radius: 5px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    box-shadow: rgba(58, 53, 65, 0.42) 0px 4px 8px -4px;
}

.btn.btn-warning {
    border: none;
    background: var(--btn_warning);
    font-weight: 500;
    border-radius: 5px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    box-shadow: rgba(58, 53, 65, 0.42) 0px 4px 8px -4px;
}

.btn.btn-danger {
    border: none;
    background: var(--btn_danger);
    font-weight: 500;
    border-radius: 5px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    box-shadow: rgba(58, 53, 65, 0.42) 0px 4px 8px -4px;
}


.btn.btn-info {
    border: none;
    background: var(--btn_info);
    font-weight: 500;
    border-radius: 5px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    box-shadow: rgba(58, 53, 65, 0.42) 0px 4px 8px -4px;
}


.btn.btn-success {
    border: none;
    background: var(--btn_success);
    font-weight: 500;
    border-radius: 5px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    box-shadow: rgba(58, 53, 65, 0.42) 0px 4px 8px -4px;
}



.dropdown-menu.dropdown-menu-md.dropdown-menu-right.show {
    background-color: #FFF;
    color: rgba(58, 53, 65, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 6px;
    box-shadow: 0px 2px 1px -1px rgba(58, 53, 65, 0.2), 0px 1px 1px 0px rgba(58, 53, 65, 0.14), 0px 1px 3px 0px rgba(58, 53, 65, 0.12);
    box-shadow: 0px 2px 10px 0px rgba(58, 53, 65, 0.1);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: none !important;
    background: #b1b3b521;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #064E89;

}

span.dropdown-item.dropdown-header {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.btn-group {
    min-height: 25px !important;
}

.modal-dialog .overlay {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: -1px;
    z-index: 1052;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(195 195 195 / 70%);
    color: #666f76;
    border-radius: 0.3000000000000007rem;
}

.brand-link.text-sm .brand-image,
.text-sm .brand-link .brand-image {
    height: 29px;
    margin-bottom: -.25rem;
    margin-left: .95rem;
    /* margin-top: .2rem; */
}

/* 
a.brand-link {
   height: 70px !important;
} */

/* .brand-link .brand-image {
   float: left;
   line-height: .8;
   height: 50px !important;
   margin-left: .8rem;
   margin-right: 1rem;
   margin-top: 5px !important;
   max-height: 60px !important;
   width: auto;
} */
.content-wrapper {
    background-color: var(--content_wrapper_bg_color);
}

/* .profile-user-img {
   height: 100px !important;
   border: 3px solid #adb5bd;
   margin: 0 auto;
   padding: 3px;
   width: 100px !important;
} */

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgb(108 108 108 / 3%);
    border-top: 0 solid rgba(0, 0, 0, .125) !important;
}

.main-sidebar {
    box-shadow: 1px -2px 4px -2px #0101014f !important;
}

.dropdown-menu>li>a:hover {
    background-color: rgba(179, 179, 179, 0.237);
}

.content-header {
    padding-top: 30px !important;
}

@media only screen and (max-width: 768px) {
   .btn-group,
    .btn-group-vertical {
      
        display: inline-block;

    }
 }
@media only screen and (min-width: 768px) {
    .content-wrapper {
        padding: 1rem;
    }

    .dt-buttons.btn-group {
        padding-left: 60px;
    }
}

.nav-sidebar .nav-link p {
   display: inline-flex !important;
   /* padding-right: 31px; */
}

.header-font{
   font-size: 1.5rem;
   line-height: 2rem;
   letter-spacing: 0;
   font-family: Google Sans,Roboto,Arial,sans-serif;
   color: #202124;
   font-weight: 500;
}

/*  */

.mfp-close{
   cursor: pointer !important;
  }

  /* overlay at start */
.mfp-fade.mfp-bg {
   opacity: 0;
 
   -webkit-transition: all 0.15s ease-out;
   -moz-transition: all 0.15s ease-out;
   transition: all 0.15s ease-out;
 }
 /* overlay animate in */
 .mfp-fade.mfp-bg.mfp-ready {
   opacity: 0.8;
 }
 /* overlay animate out */
 .mfp-fade.mfp-bg.mfp-removing {
   opacity: 0;
 }
 
 /* content at start */
 .mfp-fade.mfp-wrap .mfp-content {
   opacity: 0;
 
   -webkit-transition: all 0.15s ease-out;
   -moz-transition: all 0.15s ease-out;
   transition: all 0.15s ease-out;
 }
 /* content animate it */
 .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
   opacity: 1;
 }
 /* content animate out */
 .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
   opacity: 0;
 }


/* scrollbar style */
 .os-theme-light>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
   background: rgb(83 83 83 / 10%);
}



/* nav-treeview sub menu add line vertical */

 /* Style for the navigation tree */
 .nav-treeview {
   list-style-type: none;
   padding: 0;
 }
 .nav-treeview li {
   margin: 0;
   padding-left: 10px;
   position: relative; /* Required for absolute positioning of vertical line */
 }
 .nav-treeview li a {
   display: block;
   padding: 10px;
   text-decoration: none;
 }
 /* Style for the vertical line */
 .nav-treeview li::before {
    content: '';
   position: absolute;
   top: 0;
   left: 10px; /* Adjust this value to control the distance from the left edge */
   width: 1px;
   height: 100%;
   background-color: #dededeac;
 }
/* nav-treeview sub menu add line vertical */

/* nav sidebar icon size  */
.nav-sidebar>.nav-item .nav-icon.fa, .nav-sidebar>.nav-item .nav-icon.fab, .nav-sidebar>.nav-item .nav-icon.fad, .nav-sidebar>.nav-item .nav-icon.fal, .nav-sidebar>.nav-item .nav-icon.far, .nav-sidebar>.nav-item .nav-icon.fas, .nav-sidebar>.nav-item .nav-icon.ion, .nav-sidebar>.nav-item .nav-icon.svg-inline--fa {
   font-size: 0.830rem;
}


.wrapper2 {
   display: flex;
   align-items: flex-start;
 }
 

.nav-sidebar.nav-legacy>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar.nav-legacy>.nav-item>.nav-link.active {
   background: #f12711;
   background: -webkit-linear-gradient(to right, #f5af19, #f12711);
   background: linear-gradient(to right, #f5af19, #f12711);
   border-radius: 10px;
   /* background: var(--sidebar_primary); */
   border: none;
   /* box-shadow: 0px 4px 8px -4px rgba(58, 53, 65, 0.42); */
   /* background-image: linear-gradient(98deg, #064e89a6, #064E89 94%); */
}